<div class="container">
    <div class="calendar">
        <div class="controls">
            <div class="left">
                <mat-form-field>
                    <mat-label>Select Year</mat-label>
                    <mat-select [(ngModel)]="selectedYear" (selectionChange)="onYearChange($event)">
                        <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="spacer"></div>

                <mat-form-field>
                    <mat-label>Select Month</mat-label>
                    <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onMonthChange($event)">
                        <mat-option *ngFor="let month of monthList; let i = index" [value]="i">{{month}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="spacer"></div>

                <button mat-flat-button color="primary" (click)="openAddEventDialog()">Add Appointment</button>
            </div>

            <div class="right">
                <mat-icon (click)="prevMonthHandler()" aria-hidden="false" aria-label="Left icon"
                    fontIcon="chevron_left"></mat-icon>

                <div class="spacer"></div>

                <mat-icon (click)="nextMonthHandler()" aria-hidden="false" aria-label="Right icon"
                    fontIcon="chevron_right"></mat-icon>
            </div>
        </div>

        <div class="body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="7">
                            <br>
                        </td>
                    </tr>

                    <tr *ngFor="let cols of dayList">
                        <td *ngFor="let cell of cols">
                            <button (click)="dateSelectHandler(cell)"
                                [ngClass]="{'current-day': cell.year == currentDate.getFullYear() && cell.month == currentDate.getMonth() && cell.day == currentDate.getDate(), 
                                            'current-month': cell.month == selectedMonth,
                                            'selected': selectedDate && cell.year == selectedDate.getFullYear() && cell.month == selectedDate.getMonth() && cell.day == selectedDate.getDate()}">
                                {{ cell.day}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="events">
        <div class="content" cdkDropListGroup>
            <div class="prev-date">
                <h2>{{ eventPrevDate | date:'MMM d, y' }}</h2>

                <div class="drag-list" id="drop-list-1" cdkDropList cdkDropListSortingDisabled="true"
                    [cdkDropListData]="prevDayEvents" (cdkDropListDropped)="onDropHandler($event)">

                    @for (item of prevDayEvents; track item) {
                    <div class="draggable-box" cdkDrag cdkDragBoundary=".content" [cdkDragData]="item"
                        (click)="openEditEventDialog(item)">
                        {{ item.title }} <br> {{ item.time }}
                    </div>
                    }
                </div>
            </div>

            <div class="curr-date">
                <h2>{{ selectedDate | date:'MMM d, y' }}</h2>

                <div class="drag-list" id="drop-list-2" cdkDropList cdkDropListSortingDisabled="true"
                    [cdkDropListData]="currDayEvents" (cdkDropListDropped)="onDropHandler($event)">

                    @for (item of currDayEvents; track item) {
                    <div class="draggable-box" cdkDrag cdkDragBoundary=".content" [cdkDragData]="item"
                        (click)="openEditEventDialog(item)">
                        {{ item.title }} <br> {{ item.time }}
                    </div>
                    }
                </div>
            </div>

            <div class="next-date">
                <h2>{{ eventNextDate | date:'MMM d, y' }}</h2>

                <div class="drag-list" id="drop-list-3" cdkDropList cdkDropListSortingDisabled="true"
                    [cdkDropListData]="nextDayEvents" (cdkDropListDropped)="onDropHandler($event)">

                    @for (item of nextDayEvents; track item) {
                    <div class="draggable-box" cdkDrag cdkDragBoundary=".content" [cdkDragData]="item"
                        (click)="openEditEventDialog(item)">
                        {{ item.title }} <br> {{ item.time }}
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>