<div class="welcome">

    <div class="content">
        <div class="left">
            <div class="list">
                <h3>Features:</h3>

                <ul>
                    <li>Calendar component in Angular</li>
                    <li>Form to add a calendar appointment</li>
                    <li>Form to edit a calendar appointment</li>
                    <li>Ability to delete the appointment</li>
                    <li>Ability to move appointment between dates</li>
                </ul>

                <br>
                <h3>Others:</h3>

                <ul>
                    <li>Used shared component</li>
                    <li>Used ESLint for linting</li>
                    <li>Used Dependency Injection</li>
                    <li>Used Lazyload for module/routes</li>
                    <li>Used RXJS subject, observables, operator</li>
                    <li>Used Date() class to work with time/date</li>
                    <li>Used router, router-outlet for navigation</li>
                    <li>Used Angular reactive forms with validators</li>
                    <li>Used Angular Material for styles and Angular CDK for DnD</li>
                    <li>Used Ngfor structural directive to render dates and appointments</li>
                </ul>
            </div>
        </div>

        <div class="right">
            <button mat-flat-button color="primary" (click)="onClickHandler()">Visit Calendar</button>
        </div>
    </div>
</div>